
@{
    ViewBag.Title = "EditPageByUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div ng-controller="EditPageByUserDetailsCTRL">

    <div ng-view></div>

</div>




@section PageScript {
   
    <script src="~/MyScripts/Admin/HomeController.js"></script>


}

