
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-content-wrapper">
    <div class="page-content">

        <div class="portlet light portlet-fit bordered">

            <div class="portlet-body">

                <div class="tabbable-line">

                    <ul class="nav nav-tabs ">

                        <li class="active">

                            <a href="#Admin" data-toggle="tab">Admin</a>

                        </li>

                        <li>

                            <a href="#Editor" data-toggle="tab"> Editor </a>

                        </li>

                        <li>

                            <a href="#Gallery" data-toggle="tab"> Gallery </a>

                        </li>
                        <li>

                            <a href="#User" data-toggle="tab"> User </a>

                        </li>

                    </ul>

                    <div class="tab-content">

                        <div class="tab-pane active" id="Admin">

                            @*<div class="tiles">

                                <div class="tile double bg-grey-cascade">

                                    <div class="tile-body">

                                        <i class="fa fa-calendar"></i>

                                    </div>

                                    <div class="tile-object">

                                        <div class="name"> Test</div>

                                        <div class="number"> </div>

                                    </div>

                                </div>



                                <div class="tile double bg-grey-cascade">

                                    <div class="tile-body">

                                        <i class="fa fa-th-list"></i>

                                    </div>

                                    <div class="tile-object">

                                        <div class="name"> Test</div>

                                        <div class="number"> </div>

                                    </div>

                                </div>

                            </div>*@



                        </div>

                        <div class="tab-pane" id="Editor">
                            <div class="tiles">
                                <a onclick="window.location.href = '/Log/EditorEditLogs/'" ;>


                                    <div class="tile double bg-grey-cascade">

                                        <div class="tile-body">

                                            <i class="fa fa-th-list"></i>

                                        </div>

                                        <div class="tile-object">

                                            <div class="name"> Editor Edit Logs</div>

                                            <div class="number"> </div>

                                        </div>

                                    </div>
                                </a>



                             

                            </div>


                        </div>

                        <div class="tab-pane" id="Gallery">

                            @*<div class="tiles">

                                <div class="tile double bg-grey-cascade">

                                    <div class="tile-body">

                                        <i class="fa fa-calendar"></i>

                                    </div>

                                    <div class="tile-object">

                                        <div class="name"> Test</div>

                                        <div class="number"> </div>

                                    </div>

                                </div>



                                <div class="tile double bg-grey-cascade">

                                    <div class="tile-body">

                                        <i class="fa fa-th-list"></i>

                                    </div>

                                    <div class="tile-object">

                                        <div class="name"> Test</div>

                                        <div class="number"> </div>

                                    </div>

                                </div>

                            </div>*@



                        </div>

                        <div class="tab-pane" id="User">

                            @*<div class="tiles">

                                <div class="tile double bg-grey-cascade">

                                    <div class="tile-body">

                                        <i class="fa fa-calendar"></i>

                                    </div>

                                    <div class="tile-object">

                                        <div class="name"> Test</div>

                                        <div class="number"> </div>

                                    </div>

                                </div>



                                <div class="tile double bg-grey-cascade">

                                    <div class="tile-body">

                                        <i class="fa fa-th-list"></i>

                                    </div>

                                    <div class="tile-object">

                                        <div class="name"> Test </div>

                                        <div class="number"> </div>

                                    </div>

                                </div>

                            </div>*@



                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
    </div>
