
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="ViewPageDetailsCTRL">
    <div ng-view></div>
</div>

@section PageScript {
    <script src="~/MyScripts/Admin/AtananSayfalarimController.js"></script>

}

